port {{openvpn_port}}
proto udp
dev tun
ca /etc/openvpn/server/ca.crt
cert /etc/openvpn/server/server.crt
key /etc/openvpn/server/server.key
dh /etc/openvpn/server/dh.pem
server {{openvpn_network.split('/')[0]}} 255.255.255.0
ifconfig-pool-persist ipp.txt

{% for subnet in k8s_subnets %}
push "route {{ subnet.subnet.split('/')[0] }} {{ subnet.netmask }}"
{% endfor %}

keepalive 10 120
tls-crypt /etc/openvpn/server/ta.key
cipher AES-256-GCM
auth SHA256
user nobody
group nogroup
persist-key
persist-tun
status /var/log/openvpn/openvpn-status.log
verb 3
explicit-exit-notify 1
